<%= render 'shared/page_title', title: @recipe.name %>

<div class="row justify-content-center">
  <div class="col-md-10 recipes">
    <h4 class="center description"><strong>Steps: </strong></h4>
    <%= simple_format(@recipe.description) %>
    <hr>

    <div class="float-right">
      <p class="center"> <em> Created by: </em></p>
      <p class="center">
        <%= link_to gravatar_for(@recipe.chef), recipes_path %>
      </p>
      <p class="center">
        <div class="center"> <%= @recipe.chef.chefname.capitalize %> </div>
        <small>
          <%= time_ago_in_words(@recipe.created_at) %> ago
        </small>
      </p>
    </div>
  </div>
</div>
